@import "../common.scss";


.details {
    padding: 50px 0px;

    &__image {
        width: 35%;

    }

    &__description {
        width: 50%;
    }

}

.description {
    &__title {
        color: $red;
        margin: 0px;
    }
    &__rating {
        width: 60px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        line-height: 55px;
        box-sizing: border-box;
        border: 3px red solid;
        border-radius: 30px;
    }
    &__genre {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    &__release-date {
        font-weight: bold;
        margin-right: 10px;
    }
    &__time {
        font-weight: bold;
    }
    &__text {
        margin-top: 50px;
    }
}