@import "../common.scss";

.panel {
    height: 50px;
    padding-top: 15px;
    font-size: $font_size_base*0.8;
    background: rgb(236, 232, 232);
    box-sizing: border-box;
    margin-bottom: 50px;
}